{% extends "base.html" %}

{% block titulo %} Recetas | Contacto{% endblock %}

{% block content %} 
<h1>Recetas | contacto </h1>

<form action="" method="post">
    <div class="titulo">
        <h3>Contacto</h3>

    </div>
    {% csrf_token %}
    <div class="row">
        <div class="column">
            <div class="form">
                <label for="email">Email: </label>
                <input class="form-control" type="text" name="email">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="form">
                <label for="mensaje">Mensaje:</label>
                <br>
                <textarea name="mensaje" id="mensaje" cols="30" rows="3"></textarea>
            </div>
        </div>
    </div>
    
    
    <div class="row">
        <div class="column">
            <div class="form">
                
                <div class="botones">
                    <button class="" type="submit" value="enviar">Enviar mail</button>
                    
                </div>
            </div>
        </div>
    </div>
    
</form>
{% endblock %}
 
 
